{% extends 'base.html' %}

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Algo watchlist</title>
{% comment %} <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"> {% endcomment %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
{% load custom_filters %}
<link rel="stylesheet" href="{% static 'css/algotable.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
	// Activate tooltip
	$('[data-toggle="tooltip"]').tooltip();
});
</script>

{% endblock head %}
{% block title %} OpenAlgo {% endblock title %}
{% block NavbarComp %}
<li class="nav-item">
    <a class="nav-link" href="/home">Home</a>
  </li>
<li class="nav-item">
  <a class="nav-link active" href="/algowatch">Algowatch</a>
</li> 
<li class="nav-item">
  <a class="nav-link" href="/manualwatch">Manualwatch</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/orders">Orders</a>
</li> 
<li class="nav-item">
  <a class="nav-link" href="/settings">Settings</a>
</li>
{% endblock NavbarComp %}
{% block body %} 
<body>
    <div class="container-fluid">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Watchlist <b>for Algo Stocks</b></h2>
                        </div>
                        <div class="col-sm-6 autocomplete"><span class="float-right">
                            <form autocomplete="off" action="/action_page.php">
                                <input id="myInput" class="AlgoWatch" name="myCountry" type="text" placeholder="Search Script">
                                {% comment %} <a href="#" class="btn btn-success" onclick="startAll()"><span> Start All</span></a> {% endcomment %}
                                {% comment %} <a href="#" class="btn btn-danger" onclick="stopAll()"><span>Stop All</span></a> {% endcomment %}
                              </form>
                            				
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Instruments</th>
                            <th scope="col">Open Price</th>
                            <th scope="col">Entry Price</th>
                            <th scope="col">LTP</th>
                            <th scope="col">SL Hit</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Scale Up</th>
                            <th scope="col">Scale Down</th>
                            <th scope="col">Actions</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="instrumentDiv">
                        {% for instrument in algoWatchlistArray %}
                        <tr id="{{instrument.instruments}}_main">
                            <td id="{{instrument.instruments}}time">{%if instrument.algoStartTime%}{{instrument.algoStartTime|convert_to_ist|time_only}}{%else%}-{%endif%}</td>
                            <td>{{instrument.instruments}}</td>
                            <td id="{{instrument.instruments}}op">0</td>
                            <td >{{instrument.entryprice}}</td>
                            {% comment %} <td>{{instrument.lastTradedPrice}}</td> {% endcomment %}
                            <td id='{{instrument.instruments}}ltp'>{{instrument.lastTradedPrice}}</td>
                            <td id="{{instrument.instruments}}slhit">{{instrument.slHitCount}}</td>
                            {% if  instrument.exchangeType == "NFO" %}
                            <td><input type="number" onchange="onQtyChange(this, '{{instrument.instruments}}')" oninput="this.value=(parseInt(this.value)||1)" pattern="[0-9]" name='qty[]' id="{{instrument.instruments}}"  placeholder='Enter Qty' class="form-control" value = "{{instrument.qty}}" disabled="disabled"/></td>
                            {% else %}
                            <td><input type="number" onchange="onQtyChange(this, '{{instrument.instruments}}')" oninput="this.value=(parseInt(this.value)||1)" pattern="[0-9]" name='qty[]' id="{{instrument.instruments}}"  placeholder='Enter Qty' class="form-control" value = "{{instrument.qty}}"/></td>
                            {% endif %} 
                            
                            <td><a href="#" class="btn btn-info" id="btn-scale-up"  title="Click to scale up qty" onclick="ScaleUpQty('{{instrument.instruments}}')"><span> Scale Up</span></a></td>
                            <td><a href="#" class="btn btn-warning" id="btn-scale-down" title="Click to scale down qty" onclick="ScaleDownQty('{{instrument.instruments}}')"><span> Scale Down</span></a></td>
                            {% if instrument.startAlgo != False %}    
                                {% comment %} <a href="#" class="btn btn-danger" onclick="stopAlgo('{{instrument.instruments}}')"><span> Exit & Stop Algo</span></a> {% endcomment %}
                                <td style="color: green; font-weight:bold">Algo Started</td>
                            {% else %}
                            <td>
                                <a href="#" class="btn btn-success" onclick="startAlgo('{{instrument.instruments}}')"><span> Start Algo</span></a>
                            </td>
                            {% endif %}
                            
                            <td><a href="#" class="delete" onclick="deleteInstrument('{{instrument.instruments}}')"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xe872;</i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>        
    </div>

    <!-- Positions Table -->
    <div class="container-fluid">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Positions</h2>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Instruments</th>
                            <th scope="col" id='ordertypecol'>Order Type</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Entry Price</th>
                            <th scope="col">LTP</th>
                            <th scope="col">Average Price</th>
                            {% comment %} <th scope="col">Unrealised</th> {% endcomment %}
                            {% comment %} <th scope="col">Realised</th> {% endcomment %}
                            <th scope="col">Actions</th>
                            <th scope="col">PNL</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for position in positionArray %}
                        <tr>
                            <td>{{position.instruments}}</td>
                            <td id="{{position.instruments}}ordertype">{{position.positionType}}</td>
                            <td id="{{position.instruments}}qty">{{position.qty}}</td>
                            <td id="{{position.instruments}}entryPrc">{{position.entryprice}}</td>
                            <td id="{{position.instruments}}ltp">1</td>
                            <td id="{{position.instruments}}avgTrde">{{position.avgTradedPrice}}</td>
                            {% if  position.qty == 0 %}
                                <td style="color: black; font-weight:bold">Closed</td>
                            {% else %}
                                <td>
                                    <a href="#" class="btn btn-danger" onclick="stopAlgo('{{position.instruments}}')"><span> Exit & Stop Algo</span></a>
                                </td>
                            {% endif %}
                            {% if  position.pnl > 0 %}
                                <td id="{{position.instruments}}pnl" style="color: green; font-weight:bold">{{position.pnl}}</td>
                            {% else %}
                                <td id="{{position.instruments}}pnl" style="color: red; font-weight:bold">{{position.pnl}}</td>
                            {% endif %}   
                             
                        </tr>
                        {% endfor %}
                        <tr style="background: #f6f8ff;">
                            <td style="font-weight:bold">Total</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% if  totalPNL > 0 %}
                                <td id="totalpnl" style="color: green; font-weight:bold">{{totalPNL}}</td>
                            {% else %}
                                <td id="totalpnl" style="color: red; font-weight:bold">{{totalPNL}}</td>
                            {% endif %}   
                            
                        <tr>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
    {% comment %} {{apikey|json_script:"key"}} {% endcomment %}
    {% comment %} {{token|json_script:"fetchToken"}} {% endcomment %}
    {{allInstruments|json_script:"allInstrumentsList"}}
    </body>
    <!-- <script src="{% static 'js/SocketData.js' %}"></script> -->
    <script src="{% static 'js/Instruments.js' %}"></script>

    {% block javascript %}
    <script type="text/javascript">
        function startAlgo(clicked){

            var scriptQty1 = parseInt(document.getElementById(clicked).value);
            $.ajax({
                type: "POST",
                url: 'startAlgo',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', script: clicked, scriptQty: scriptQty1 },
                success: function callback(response){
                    if (response === "success"){
                        window.location.reload();
                        }
                    }
             });
        }

        function stopAlgo(clicked){
            console.log("Stop clicked")
            var scriptQty1 = parseInt(document.getElementById(clicked).value);
            $.ajax({
                type: "POST",
                url: 'stopAlgo',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', script: clicked, scriptQty: scriptQty1, isFromAlgoTest: "true" },
                success: function callback(response){
                    if (response === "success"){
                        window.location.reload();
                        }
                    }
             });
        }

        function startAll(){
            var scriptQty1 = parseInt(document.getElementById(clicked).value);
            $.ajax({
                type: "POST",
                url: 'startAll',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: "StartAll" },
                success: function callback(response){
                            console.log(response);
                         }
             });
        }

        function stopAll(){
            $.ajax({
                type: "POST",
                url: 'stopAll',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', text: "StopAll" },
                success: function callback(response){
                            console.log(response);
                         }
             });
        }
        </script>
        {% endblock %}

{% endblock body %}