{% extends 'base.html' %}

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% comment %} <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"> {% endcomment %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
{% load custom_filters %}
<link rel="stylesheet" href="{% static 'css/algotable.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
	// Activate tooltip
	$('[data-toggle="tooltip"]').tooltip();
});

</script>
{% endblock head %}
{% block title %} Manual Watchlist {% endblock title %}
{% block NavbarComp %}
<li class="nav-item">
  <a class="nav-link" href="/home">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/algowatch">Algowatch</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="/manualwatch">Manualwatch</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/orders">Orders</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/settings">Settings</a>
</li>
{% endblock NavbarComp %}
{% block body %} 
<body>
    <div class="container-fluid">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Watchlist <b>for Manual Action</b></h2>
                        </div>
                        <div class="col-sm-6 autocomplete"><span class="float-right">
                            <form autocomplete="off" action="/action_page.php">
                                <input id="myInput" class="ManualWatch"  name="myCountry" type="text"  placeholder="Search Script">
                              </form>			
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr  style="text-align:center; font-size: medium;">
                            <th scope="col" style="width:6%;">Time</th>
                            <th scope="col" style="width:10%; text-align: left;">Instruments</th>
                            <th scope="col" style="width:6%;">Open</th>
                            <th scope="col" style="width:6%;">High</th>
                            <th scope="col" style="width:6%;">Low</th>
                            <th scope="col" style="width:6%;">Close</th>
                            <th scope="col" style="width:6%;">Entry</th>
                            <th scope="col" style="width:6%;">LTP</th>
                            <th scope="col">SL Hit</th>
                            <th scope="col" style="width:8%">Qty</th>
                            <th scope="col">Scale Up</th>
                            <th scope="col">Scale Down</th>
                            <th scope="col">Buy</th>
                            <th scope="col">Sell</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody id="instrumentDiv">
                        {% for instrument in manualWatchlistArray %}
                        <tr id="{{instrument.instruments}}_main" style="text-align: center;">
                            <td id="{{instrument.instruments}}time">{%if instrument.algoStartTime%}{{instrument.algoStartTime|convert_to_ist|time_only}}{%else%}-{%endif%}</td>
                            <td style="text-align: left;">{{instrument.instruments}}</td>
                            <td id='{{instrument.instruments}}op' style="color: red;">0</td>
                            <td id='{{instrument.instruments}}hi'>0</td>
                            <td id='{{instrument.instruments}}lo'>0</td>
                            <td id='{{instrument.instruments}}cl'>0</td>
                            <td>{{instrument.entryprice}}</td>
                            {% comment %} <td>{{instrument.lastTradedPrice}}</td> {% endcomment %}
                            <td id='{{instrument.instruments}}ltp'  style="color: red;" >{{instrument.lastTradedPrice}}</td>
                            <td id="{{instrument.instruments}}slhit">{{instrument.slHitCount}}</td>
                            {% if  instrument.exchangeType == "NFO" %}
                                <td><input type="number" onchange="onQtyChange(this, '{{instrument.instruments}}')" oninput="this.value=(parseInt(this.value)||1)" pattern="[0-9]" name='qty[]' id="{{instrument.instruments}}"  placeholder='Enter Qty' class="form-control" value = {{instrument.qty}} disabled="disabled"></td>
                            {% else %}
                            <td><input type="number" onchange="onQtyChange(this, '{{instrument.instruments}}')" oninput="this.value=(parseInt(this.value)||1)" pattern="[0-9]" name='qty[]' id="{{instrument.instruments}}"  placeholder='Enter Qty' class="form-control" value = {{instrument.qty}}></td>
                            {% endif %} 
                            <td><a href="#" class="btn btn-info"  title="Click to scale up qty" onclick="ScaleUpQty('{{instrument.instruments}}')"><span> Scale Up</span></a></td>
                            <td><a href="#" class="btn btn-warning" title="Click to scale down qty" onclick="ScaleDownQty('{{instrument.instruments}}')"><span> Scale Down</span></a></td>
                            {% if  instrument.openPostion %}
                                {% if  instrument.positionType == "BUY" %}
                                    <td style="color: green; font-weight:bold">Open Position</td>
                                    <td style="color: green; font-weight:bold">-</td>
                                {% elif  instrument.positionType == "SELL" %}
                                    <td style="color: green; font-weight:bold">-</td>
                                    <td style="color: green; font-weight:bold">Open Position</td>
                                {% else %}
                                    <td style="color: green; font-weight:bold">-</td>
                                    <td style="color: green; font-weight:bold">-</td>
                                {% endif %} 
                            {% else %}
                                <td><a href="#" class="btn btn-success" title="Click to buy" onclick="BuyOrder('{{instrument.instruments}}')"><span> Buy</span></a></td>
                                <td><a href="#" class="btn btn-danger" title="Click to Sell" onclick="SellOrder('{{instrument.instruments}}')"><span> Sell</span></a></td>
                            {% endif %} 
                            <td><a href="#" class="delete" onclick="deleteInstrument('{{instrument.instruments}}')"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xe872;</i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
    <!-- Positions Table -->
    <div class="container-fluid">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Positions</h2>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr style="text-align: center; font-size: medium;">
                            <th scope="col" style="width: 15%; text-align: left;">Instruments</th>
                            <th scope="col" style="width: 8%;" id='ordertypecol'>Type</th>
                            <th scope="col" style="width: 5%;">Qty</th>
                            <th scope="col" style="width: 10%;">Entry</th>
                            <th scope="col" style="width: 10%;">LTP</th>
                            <th scope="col" style="width: 10%;">Average</th>
                            {% comment %} <th scope="col">Unrealised</th> {% endcomment %}
                            {% comment %} <th scope="col">Realised</th> {% endcomment %}
                            <th scope="col" style="width: 10%;">EXIT 50%</th>
                            <th scope="col" style="width: 10%;">Actions</th>
                            <th scope="col" style="width: 10%;">PNL</th>
                            <th scope="col" style="width: 10%;">%</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for position in positionArray %}
                        <tr style="text-align: center;">
                            <td style="text-align: left;"><strong>{{position.instruments}}</strong></td>
                            {% if  position.positionType == 'BUY' %}
                                <td id="{{position.instruments}}ordertype" style="color: green; font-weight:bold;">{{position.positionType}}</div> </td>
                            {% else %}
                                <td id="{{position.instruments}}ordertype" style="color: red; font-weight:bold;" >{{position.positionType}}</div></td>
                            {% endif %}
                            <td id="{{position.instruments}}qty">{{position.qty}}</td>
                            <td id="{{position.instruments}}entryPrc">{{position.entryprice}}</td>
                            <td id="{{position.instruments}}ltp">1</td>
                            <td id="{{position.instruments}}avgTrde">{{position.avgTradedPrice}}</td>

                            {% if  position.qty == 0 %}
                            <td style="color: black; font-weight:bold">Closed</td>
                            {% else %}
                            <td id="{{position.instruments}}-exitBtn" class="{{position.instruments}}-halfBtn">
                                <a href="#" class="btn btn-danger" onclick="halfAlgo_manual('{{position.instruments}}','{{position.qty}}')"><span> Exit 50%</span></a>
                            </td>
                            {% endif %}

                            {% if  position.qty == 0 %}
                                <td style="color: black; font-weight:bold">Closed</td>
                            {% else %}
                                <td>
                                    <a href="#" class="btn btn-danger" onclick="stopAlgoManual('{{position.instruments}}')"><span> Exit & Stop Algo</span></a>
                                </td>
                            {% endif %} 
                            {% if  position.pnl > 0 %}
                            <td id="{{position.instruments}}pnl" style="color: green; font-weight:bold;font-size:17px ">{{position.pnl}}</td>
                            {% else %}
                                <td id="{{position.instruments}}pnl" style="color: red; font-weight:bold;font-size:17px ">{{position.pnl}}</td>
                            {% endif %}
                            <td id="{{position.instruments}}last_price" style="color: red; font-weight:bold;font-size:17px ">{{position.last_price}}</td> 
                             
                        </tr>
                        {% endfor %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td style="font-weight:bold; font-size:25px; text-align: center; ">Total</td>
                            {% if  totalPNL > 0 %}
                                <td id="totalpnl" style="color: green; font-weight:bold ; font-size:25px; text-align: center; ">{{totalPNL}}</td>
                            {% else %}
                                <td id="totalpnl" style="color: red; font-weight:bold ; font-size:25px; text-align: center; ">{{totalPNL}}</td>
                            {% endif %}    
                        <tr>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
    {{allInstruments|json_script:"allInstrumentsList"}}
    </body>
    <!-- <script src="{% static 'js/SocketData.js' %}"></script> -->
    <script src="{% static 'js/Instruments.js' %}"></script>
    <script type="text/javascript">
        function BuyOrder(clicked){
            var buyScriptQty = parseInt(document.getElementById(clicked).value);
            $.ajax({
                type: "POST",
                url: 'buySingle',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', script: clicked, scriptQty: buyScriptQty },
                success: function callback(response){
                    if (response === "success"){
                        window.location.reload();
                        }
                        }
             });   
        }

        function SellOrder(clicked){
            var sellScriptQty = parseInt(document.getElementById(clicked).value);
            $.ajax({
                type: "POST",
                url: 'sellSingle',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', script: clicked, scriptQty: sellScriptQty },
                success: function callback(response){
                    if (response === "success"){
                        window.location.reload();
                        }
                    }
             });
        }

        function stopAlgoManual(clicked){
            console.log("Closing position from Manual and stopping algo")
            var scriptQty1 = 1;
            $.ajax({
                type: "POST",
                url: 'stopAlgo',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', script: clicked, scriptQty: scriptQty1, isFromAlgoTest: "false" },
                success: function callback(response){
                    if (response === "success"){
                        window.location.reload();
                        }
                    }
             });
        }

        function halfAlgo_manual(clicked, qty){
            console.log("Stop clicked")
            var stokQty = 0;
            var scriptQty1 = parseInt(document.getElementById(clicked).value);
            $.ajax({
                type: "POST",
                url: 'halfAlgo_manual',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', script: clicked, scriptQty: scriptQty1, isFromAlgoTest: "true" },
                success: function callback(response){
                    if (response === "success"){
                        //$('.'+clicked+'-halfBtn').text('Closed');
        
                        //var newValue = scriptQty1.replace('-', '');
                        var newValueqty = parseInt($('#'+clicked+'qty').text());
                       // alert($('#'+clicked+'qty').text());
                       // qty.text( newValue );
                        if(newValueqty == 0){
                            var dynClass=clicked+'-halfBtn';
                            //$('[class='+dynClass+']').text('Closed');
                            $('.'+dynClass).text('Closed');
                            var dynId=clicked+'-exitBtn';
                            $('[id='+dynId+']').text('Closed');
                        }
                        //window.location.reload();
                        }
                    }
             });
        }


        </script>

{% endblock body %}