{% extends 'base.html' %}
{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% comment %} <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"> {% endcomment %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
{% load custom_filters %}
<link rel="stylesheet" href="{% static 'css/algotable.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
	// Activate tooltip
	$('[data-toggle="tooltip"]').tooltip();
	
	// Select/Deselect checkboxes
	var checkbox = $('table tbody input[type="checkbox"]');
	$("#selectAll").click(function(){
		if(this.checked){
			checkbox.each(function(){
				this.checked = true;                        
			});
		} else{
			checkbox.each(function(){
				this.checked = false;                        
			});
		} 
	});
	checkbox.click(function(){
		if(!this.checked){
			$("#selectAll").prop("checked", false);
		}
	});
    
});
</script>
{% endblock head %}
{% block title %} Settings {% endblock title %}
{% block NavbarComp %}
<li class="nav-item">
  <a class="nav-link" href="/home">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/algowatch">Algowatch</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/manualwatch">Manualwatch</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="/orders">Orders</a>
</li>
<li class="nav-item">
  <a class="nav-link active" href="/settings">Settings</a>
</li>
{% endblock NavbarComp %}
{% block body %}
<div class="container-fluid px-3 mb-3">
    <h3 class="text-left">  </h3>
    <form method="post" action="/settings">
        {% csrf_token %}
        {% for settingObject in settings %}
        <div class="row g-3 align-items-center mb-3">
            <div class="col-auto">
                <label for="time" class="col-form-label">Time</label>
            </div>
            <div class="col-auto d-flex">
                <input type="time" step="2" name="time" id="time" class="form-control" aria-describedby="passwordHelpInline" value="{{settingObject.time|time_only}}" required>
            </div>
            <div class="col-auto">
                <span id="passwordHelpInline" class="form-text">
                Stock Market Opening time : 09:15 AM
                </span>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-3">
            <div class="col-auto">
                <label for="stoplossinpercentage" class="col-form-label" width="1000">Stop Loss %</label>
            </div>
            <div class="col-auto">
                <input type="text" name="stoploss" class="form-control" aria-describedby="stoplossHelpInline" value={{settingObject.stoploss}} placeholder="0.2" required>
            </div>
            <div class="col-auto">
                <span id="stoplossHelpInline" class="form-text">
                % (Stoploss is in percentage - Default vaule is 0.2%)
                </span>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-3">
            <div class="col-auto">
                <label for="targetinpercentage" class="col-form-label">Target %</label>
            </div>
            <div class="col-auto">
                <input type="text" name="target" class="form-control" aria-describedby="targetHelpInline" value= {{settingObject.target}} placeholder="1.0" required>
            </div>
            <div class="col-auto">
                <span id="targetHelpInline" class="form-text">
                % (Target is in percentage - Default vaule is 1%)
                </span>
            </div>
        </div>
        {% comment %} <div class="row g-3 align-items-center mb-3">
            <div class="col-auto">
                <label for="scaleupqty" class="col-form-label">Scale Up Qty</label>
            </div>
            <div class="col-auto">
                <input type="text" name="scaleupqty" class="form-control" aria-describedby="scaleupqtyHelpInline" value="1" required>
            </div>
            <div class="col-auto">
                <span id="scaleupqtyHelpInline" class="form-text">
                x (1x means 25 to 50 and 50 to 75, 2x means 25 to 50 and 50 to 100)
                </span>
            </div>
        </div>
        <div class="row g-3 align-items-center mb-3">
            <div class="col-auto">
                <label for="scaledownqty" class="col-form-label">Scale Down Qty</label>
            </div>
            <div class="col-auto">
                <input type="text" name="scaledownqty" class="form-control" aria-describedby="scaledownqtyHelpInline" value="1" required>
            </div>
            <div class="col-auto">
                <span id="scaledownqtyHelpInline" class="form-text">
                    1x (1x means 100 to 50 and 50 to 25, it will reduce to half everytime)
                </span>
            </div>
        </div> {% endcomment %}
        <div class="row g-3 align-items-center mb-3">
            <div class="col-auto">
                <label for="openingrange" class="col-form-label">Opening Range</label>
            </div>
            <div class="col-auto">
                <input type="text" name="openingrange" class="form-control" aria-describedby="opeingrangeHelpInline" value={{settingObject.openingrange}} placeholder="10.0" required>
            </div>
            <div class="col-auto">
                <span id="opeingrangeHelpInline" class="form-text">
                % Difference of CP and OP - Default value if 0.2%
                </span>
            </div>
        </div>
        <div class="mb-3 form-check">
            {% if instrument.openingrangebox != False %} 
                <input type="checkbox" class="form-check-input" id="openingragecheckbox" name="openingrangebox" value="True">
            {% else %}
                <input type="checkbox" class="form-check-input" id="openingragecheckbox" name="openingrangebox" value="False">
            {% endif %}
            <label class="form-check-label" for="openingragecheckbox">Apply Opeing Range Difference</label>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        {% endfor %}
    </form>
</div>
{% endblock body %} 