{% extends 'base.html' %}

{% block head %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
{% comment %} <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round"> {% endcomment %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
{% load static %}
<link rel="stylesheet" href="{% static 'css/algotable.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<script>
$(document).ready(function(){
	// Activate tooltip
	$('[data-toggle="tooltip"]').tooltip();
});

</script>
{% endblock head %}
{% block title %} Manual Watchlist {% endblock title %}
{% block body %} 
<body>
    <div class="container-fluid">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Watchlist <b>for Manual Action</b></h2>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Instruments</th>
                            <th scope="col">LTP</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Scale Up</th>
                            <th scope="col">Scale Down</th>
                            <th scope="col">Buy</th>
                            <th scope="col">Sell</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for instrument in manualWatchlistArray %}
                        <tr>
                            <td>{{instrument.instruments}}</td>
                            <td>{{instrument.lastTradedPrice}}</td>
                            <td><input type="number" oninput="this.value=(parseInt(this.value)||1)" pattern="[0-9]" name='qty[]' id="{{instrument.instruments}}"  placeholder='Enter Qty' class="form-control" value = "1"/></td>
                            <td><a href="#" class="btn btn-info"  title="Click to scale up qty" onclick="ScaleUpQty('{{instrument.instruments}}')"><span> Scale Up</span></a></td>
                            <td><a href="#" class="btn btn-warning" title="Click to scale down qty" onclick="ScaleDownQty('{{instrument.instruments}}')"><span> Scale Down</span></a></td>
                            <td><a href="#" class="btn btn-success" title="Click to buy" onclick="BuyOrder('{{instrument.instruments}}')"><span> Buy</span></a></td>
                            <td><a href="#" class="btn btn-danger" title="Click to Sell" onclick="SellOrder('{{instrument.instruments}}')"><span> Sell</span></a></td>
                            <td><a href="#" class="delete"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xe872;</i></a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
    <!-- Positions Table -->
    <div class="container-fluid">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-6">
                            <h2>Positions</h2>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Instruments</th>
                            <th scope="col">Qty</th>
                            <th scope="col">Entry Price</th>
                            <th scope="col">Average Price</th>
                            <th scope="col">LTP</th>
                            <th scope="col">PNL</th>
                            <th scope="col">Unrealised</th>
                            <th scope="col">Realised</th>
                            <th scope="col">Actions</th>
                            <th scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for position in positionArray %}
                        <tr>
                            <td>{{position.instruments}}</td>
                            <td>{{position.qty}}</td>
                            <td>{{position.entryprice}}</td>
                            <td>{{position.avgTradedPrice}}</td>
                            <td>{{position.lastTradedPrice}}</td>
                            {% if  position.pnl > 0 %}
                                <td style="color: green; font-weight:bold">{{position.pnl}}</td>
                            {% else %}
                                <td style="color: red; font-weight:bold">{{position.pnl}}</td>
                            {% endif %}   
                            <td>{{position.unrealised}}</td>
                            <td>{{position.realised}}</td>
                            {% if  position.qty == 0 %}
                                <td style="color: green; font-weight:bold">Closed</td>
                            {% else %}
                                <td>
                                    <a href="#" class="btn btn-danger" onclick="stopAlgoManual('{{position.instruments}}')"><span> Exit & Stop Algo</span></a>
                                </td>
                            {% endif %}   
                            
                            <td><a href="#" class="delete"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xe872;</i></a></td>
                        </tr>
                        {% endfor %}
                        <tr>
                            <td><span style="font-weight:bold">Total</span></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            {% if  totalPNL > 0 %}
                                <td style="color: green; font-weight:bold">{{totalPNL}}</td>
                            {% else %}
                                <td style="color: red; font-weight:bold">{{totalPNL}}</td>
                            {% endif %}   
                            <td></td>
                            <td></td>
                        <tr>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>
    </body>
    <script type="text/javascript">
        function ScaleUpQty(clicked){
            var qty = document.getElementById(clicked).value;
            var multipleQty = qty*2;
            document.getElementById(clicked).value = multipleQty;
        }

        function ScaleDownQty(clicked){
            let qty = document.getElementById(clicked).value;
            if (qty > 1) {
                var multipleQty = parseInt(qty/2);
                document.getElementById(clicked).value = multipleQty;
            }
            
        }

        function BuyOrder(clicked){
            var buyScriptQty = parseInt(document.getElementById(clicked).value);
            $.ajax({
                type: "POST",
                url: 'buySingle',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', script: clicked, scriptQty: buyScriptQty },
                success: function callback(response){
                            console.log(response);
                         }
             });   
        }

        function SellOrder(clicked){
            var sellScriptQty = parseInt(document.getElementById(clicked).value);
            $.ajax({
                type: "POST",
                url: 'sellSingle',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', script: clicked, scriptQty: sellScriptQty },
                success: function callback(response){
                            console.log(response);
                         }
             });
        }

        function stopAlgoManual(clicked){
            console.log("Closing position from Manual and stopping algo")
            var scriptQty1 = 1;
            $.ajax({
                type: "POST",
                url: 'stopAlgo',
                data: { csrfmiddlewaretoken: '{{ csrf_token }}', script: clicked, scriptQty: scriptQty1, isFromAlgoTest: "false" },
                success: function callback(response){
                            console.log(response);
                         }
             });
        }
        </script>

{% endblock body %}